<div class="flexContent">
	<div class="heading">
		<div class="title"><span>C</span><span>rossPaper</span></div>
		<div class="hrTitleRuler"></div>
	</div>
	<!-- <div class="navLinks">
		<a href="#"> About </a>
	</div> -->
</div>
