<!-- Intro -->
<div class="container-fluid">
	<div class="paddingAll">
		<!-- Welcome Introduction -->
		{{pages.welcome-introduction }}

		<!-- Connect with Google 
		{{auth.connect-with-google}} -->
	</div>
</div>